<nav class="navbar navbar-expand-lg navbar-light bg-light container ">
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse container" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <% if current_user %>
          <li class="nav-item user-name d-flex align-items-center">
            <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 30)).html_safe, edit_user_registration_path, title: 'Edit Profile' %>
          </li>
      
          <li class="nav-item mx-2"></li>
          <li class="nav-item logout">
            <%= link_to('Logout', destroy_user_session_path, class: 'btn btn-xs btn-danger', title: 'Logout', data: { turbo_method: :delete }) %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to('Sign In', new_user_session_path, class: 'btn btn-outline-success my-2 my-sm-0', title: 'Sign In') %>
          </li>
        <% end %>
      </ul>
  </div>
</nav>
